<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
        <link href="{% static 'bootstrap/bootstrap.css'%}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_styles.css'%}"/>
</head>
<body class="">
<header class="">
    <a href="{% url 'notes' %}"
       style=" outline: none;
        text-decoration: none;
        padding: 2px 1px 0;
        color: inherit;">

        Заметки
    </a>
    {% if user.is_authenticated %}
    <div class="col-md-3 text-end">
        <a href="{% url 'logout' %}" class="btn btn-light border-dark ">Выйти</a>
    </div>
    {% else %}
    <div class="col-md-3 text-end">
        <a href="{% url 'login' %}" class="btn btn-light border-dark me-2">Войти</a>
        <a href="{% url 'register' %}" class="btn btn-light border-dark">Зарегистрироваться</a>
    </div>
    {% endif %}
</header>
{% block content %} {% endblock %}

</body>
</html>