{% extends 'authentication/base.html' %}

{% block title %}
    Страница регистрации
{% endblock %}


{% block content %}
    <main class=" py-5 mt-5 container w-50">
        <form method="post" class="">
            {% csrf_token %}
            <div class="text-center row">
                {% for elem in form %}
                <div class="col-6">
                    <label class="form-label p-1 " for="{{ elem.id_for_label }}">{{ elem.label }} </label>
                    <p>{{ elem }}</p>
                    <div class="form-error">{{ elem.errors }}</div>
                </div>
                {% endfor %}
                </div>
            <div class="text-center">
                <button type="submit" class="mt-2 btn btn-outline-dark">Регистрация</button>
            </div>
        </form>
    </main>
{% endblock %}