{% extends 'main/base.html' %}

{% block title %}
    Страница авторизации
{% endblock %}


{% block content %}
    <main class=" py-5 mt-5 container w-25">
        <form method="post" class="w-75">
            {% csrf_token %}
          <div class="form-error">{{ form.non_field_errors }}</div>
                <div class=" text-center">
                    {% for elem in form %}
                        <label class="form-label mt-1" for="{{ elem.id_for_label }}"> {{ elem.label }}: </label>
                        <p>{{ elem }}</p>
                        <div class="form-error">{{ elem.content.errors }}</div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <button type="submit" class="mt-2 btn btn-success">Войти</button>
                </div>
        </form>
    </main>
{% endblock %}