{% extends 'main/base.html' %}

{% block title%}
Главная страница
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
      integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
      integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Список задач <span class="text-muted fw-normal ms-2"></span></h5>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                <div>
                    <a href="{% url 'note_add' %}" data-bs-toggle="modal" data-bs-target=".add-new" style="background:  #D188BF; color: #8C4162" class="btn btn"><i
                            class="bx bx-plus me-1"></i> Add New</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 ">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless ">
                        <thead class="text-center">
                        <tr>
                            <th scope="col" class="ps-4" style="width: 50px;">#</th>
                            <th scope="col">Заголовок</th>
                            <th scope="col">Описание</th>
                            <th scope="col">Важность</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        {% for item in note %}
                        <tr>
                            <th scope="row" class="ps-4">{{forloop.counter}}</th>
                            <td>{{item.title}}</td>
                            <td>{{item.description}}</td>

                            <td><input type="checkbox"
                                       {% if item.importance %}
                                       checked
                                       {% else %}
                                       {% endif %}/>
                            </td>

                            <td style="width: 50px;">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="{% url 'note_edit' item.pk %}" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Edit" class="px-2 text-primary"><i
                                                class="bx bx-pencil font-size-18"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{% url 'note_delete' item.pk %}" data-bs-toggle="tooltip" data-bs-placement="top"
                                           title="Delete" class="px-2 text-danger"><i
                                                class="bx bx-trash-alt font-size-18"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}